{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "electron": "26"
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
} 