registry=https://registry.npmmirror.com 
electron_mirror=https://npmmirror.com/mirrors/electron/ 
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/ 
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/ 
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver 
selenium_cdnurl=https://npmmirror.com/mirrors/selenium 
